@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:wght@300&family=Questrial&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}
nav {
  display: block;
  font-family: "lato";
  background-color: #c5bcbc;
}
.navLink:hover {
  background-color: #ddcaca;
  border-radius: 25px;
  transition: 0.5s;
}
.submit {
  width: 100%;
  border-radius: 20px;
}

.container {
  width: 400px;
  background-color: #dddbd4;
}
.containers {
  width: 600px;
  align-items: center;
}
.components {
  background-color: #e9e6e6;
}
.images {
  margin-top: 60px;
}
.sign {
  position: fixed;
  top: 12%;
  right: 5px;
}
.profile {
  position: absolute;
  right: 40px;
  top: 5px;
}
.user-icon {
  position: absolute;
  right: 40px;
  top: 15px;
}
.card {
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}

.card_container {
  display: flex;
  flex-wrap: wrap;
}
